---
layout: position_page
title: "Designer"
---

<%= partial "includes/positions/designer/description" %>
<%= partial "includes/positions/designer/responsibilities" %>
<%= partial "includes/positions/designer/requirements" %>
<%= partial "includes/positions/designer/junior" %>
<%= partial "includes/positions/designer/relevant_links" %>
